site_name: Software Design & Data Engineering
repo_url: https://github.com/jojo/cours
site_url: https://jojo.github.io/cours
site_description: This is a template repository for Python projects that use uv for their dependency management.
site_author: Jonathan NDamba
edit_uri: edit/main/docs/
repo_name: jojo/cours
copyright: Maintained by <a href="https://jojo.com">jojo</a>.

nav:
  - Home Page: index.md
  - Type Hint: cours-1-type-hint.md
  - Data Structure: cours-2-datastructure.md
  - Class et Dataclass: cours-3-class-et-dataclass.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/cours"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jojo/cours
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/cours

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
